html, body {
    height: 100%;
    margin: auto auto;
    background-color: #fff;
}
a {
    text-decoration: none;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(200, 200, 200);
    padding: 10px;   
    position: fixed;
    width: 100%;
    z-index: 5;
}
.menu {
    display: flex;
    flex-wrap: nowrap;
}
.menu__item {
    font-family: 'Ubuntu', monospace;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 2px;
    background-color: #ff0;
}
main {
    flex: 1 1 auto;
}
.product__wrapper {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.product__item {
    margin-top: 10px;
    margin-left: 10px;
    flex: 0 1 48%;
    background-color: rgb(232, 138, 255);
}
.product__title {
    text-align: center;
    padding: 5px;
    background-color: #ff0;
}
.product__description {
    padding: 5px; 
    padding-bottom: 0;
}
.product__price {
    padding: 5px;
    text-align: right;
}
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    background-color: #aaaaaa;
}
#Telegram {
    transition: all .5s;
}
#Telegram:hover {
    text-shadow:#5555ff 0 0 5px,
                #5555ff 0 0 7px;
}