<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Товары</title>
</head>
<body>
    <header class="header">
        <div class="header__item"></div>
        <div class="header__item"></div>
        <div class="header__item">
            <div class="menu">
                <a href='#' class="menu__item">log in</a>
                <a href='#' class="menu__item">sign up</a>
                <a href='#' class="menu__item">home</a>
                <a href='#' class="menu__item">bascket</a>
            </div>
        </div>
    </header>
        <div class="product">
            {% for i in profit_products %}
            <div class="product__item">
                <div class="product__title">{{i.title}}</div>
                <div class="product__description">{{i.description}}</div>
                <div class="product__price">{{i.price}} грн</div>
            </div>
            {% endfor %}
        </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>